.block {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 30px;
}

#runner {
  position: absolute;
  bottom: 30px;
  left: -64px;
  width: 80px;
}

#runner img {
  width: 100%;
  height: 100%;

}

#canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 20%;
  top: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  transition: all 90s linear;
}

#canvas.started {
  left: -3000px;
  /*top: 400px;*/
}

#canvas.dead {
  transition: all 0 linear;
}

.value-holder {
  color: #DDD;
}

.value-holder span {
  color: black;
}

.nohelp .value-holder{
  color:#FFF;
}

.nohelp .value-holder span{
  color: black;
}

.hidden {
	display: none;
}


#intro { 
  text-align: center;
}

button {
  padding: 20px;
  
  background-color: #F0f0f0;
  border: 1px solid #e0e0e0;
}


body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

}
